.learn-more {
  display: flex;
  flex-direction: column;
  font-family: "Roboto-slab-400";
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

  height: 100%;
}

.learn-more__title {
}

.learn-more__subtitle {
  color: rgb(195, 89, 54);
  background-color: rgb(208, 222, 234);
}
.learn-more__paragraph {
}

.learn-more__skill {
}

.learn-more__skill-item {
}

.learn-more__skill-description {
}
