.about {
  display: flex;
  column-gap: 80px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 104px;
}
.about__container {
  max-width: 100%;
  height: 624;
}
.about__content {
  padding-top: 51px;
  max-width: 800px;
  flex-shrink: 1;
}

.about__content p {
  text-indent: 50px;
}
.about__image {
  display: block;
  width: 100%;
  max-width: 450px;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
}

.about__title {
  font-family: "Roboto-slab-400";
  font-size: 40px;
  color: #1a1b22;
  margin-bottom: 30px;
}

.about__paragraph {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .about {
    padding: 40px 40px 61px 40px;
    gap: 32px;
    min-height: 324px;
  }

  .about__container {
    align-self: center;
  }
  .about__content {
    flex-shrink: 1;
    padding: 0;
  }

  .about__image {
    height: 202px;
    width: 202px;
  }
  .about__title {
    font-size: 30px;
    margin-bottom: 16px;
  }
  .about__paragraph {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 640px) {
  .about {
    padding: 32px 16px 0 19px;
    display: flex;
    flex-direction: column;
  }

  .about__title {
    font-size: 30px;
    margin-bottom: 16px;
  }
}
