.modal__container_success {
  height: 182px;
  width: 430px;
}

.modal__success-message {
  color: #000000;
  font-family: "Roboto-900";
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 14px;
}

@media screen and (max-width: 640px) {
  .modal__container_success {
    height: 480px;
  }
}
