.saved-articles__content {
  display: flex;
  flex-direction: column;
  padding: 0 104px;
}

.saved-articles__title {
  margin-top: 40px;
  color: rgba(26, 27, 34, 0.5);
  font-family: "Roboto-slab-400";
  font-size: 18px;
}

.saved-articles__header {
  margin: 30px auto 28px 0;

  font-family: "Roboto-slab-400";
  color: rgba(26, 27, 34, 1);
  font-size: 40px;
  width: 600px;
}

.saved-articles__keywords {
  font-family: "Roboto";

  font-size: 18px;
  margin-bottom: 56px;
}

.saved-articles__empty {
  text-align: center;
  font-size: 18px;
  color: #666;
  margin-top: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .saved-articles__content {
    padding: 0 40px;
  }

  .saved-articles__header {
    font-size: 30px;
    width: 360px;
  }
}
