.newscard-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1800px;
  margin: 0;
  padding: 80px 104px;
  background-color: #f5f6f7;
}

.newscard-list.no-results {
  padding: 0;
}

.newscard-list.has-results {
  padding: 80px 104px;
}

.newscard-list__header {
  align-self: flex-start;
  font-family: "Roboto-slab-400";
  color: rgba(26, 27, 34, 1);
  font-size: 40px;
  margin-bottom: 46px;
}

.newscard-list__section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.newscard-list__nothing-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  width: 300px;
}

.newscard-list__nothing-found::before {
  content: "";
  width: 80px;
  height: 80px;
  background: url(../../assets/nothing-found.svg) no-repeat center;
  background-size: contain;
  display: block;
  margin-bottom: 16px;
}

.newscard-list__nothing-title {
  font-family: "Roboto-slab-400";
  font-size: 26px;
  color: rgba(26, 27, 34, 1);
  margin-bottom: 16px;
}

.newscard-list__nothing-text {
  font-family: "Roboto";
  font-size: 18px;
  color: rgba(182, 188, 191, 1);
  height: 48px;
}

.newscard-list__show-more {
  margin-top: 20px;
  padding: 10px 20px;
  height: 64px;
  width: 288px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  color: #1a1b22;
  transition: 0.3s;
}

.newscard-list__show-more:hover {
  background-color: #e8e8e8;
}

.newscard-list__show-more_disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .newscard-list {
    padding: 40px;
  }
  .newscard-list.has-results {
    padding: 40px;
  }

  .newscard-list__section {
    gap: 8px;
  }
}
